
/* styles needed */
*{
	margin: 0;
	padding: 0;
	overflow-x: hidden
}

#particles-js {
	background: #111;
	opacity: 0.70;
	height: 100%;
	text-align: center;
	margin-top: 15px;
	font-weight: 1000px;
	font-size: 53px;
	color: white;
	width: 100vw;
}

input {
	padding: 11px 5px 10px 5px;
	font-size: 25px;
	border: none;
	background-color: transparent;
	color: #be540d;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 30px;
	outline: none;
}
button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 8px 25px;
	background-color: #83af9b;
	color: white;
	border: none;
	transition: 350ms ease;
	box-shadow: none;
	text-align: center;
	margin-top: 10x;
	margin-bottom: 30px;
	user-select: none;
	outline: none;
}
button:active {
	transform: scale(0, 9);
}

svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.head{position:absolute;left:50%;top:0.3rem;transform: translate(-50%);}

@media screen and (max-width:400px){
	.head{
		font-size: 20px
	}
	.btnGen{
		width: 6rem;
		height: 3rem;
		font-size: .7rem;
		text-align: center
	}
}
